accelerate
deep-translator
gpustat
gTTS
joblib
lightning
moviepy
openai
opencv-python
pyannote.audio
pydub
pyttsx3
scenedetect[opencv]  # FROM: https://www.scenedetect.com/
scikit-learn
soundfile
transformers
torchsummary
torchmetrics
TTS
tqdm