deep-translator
gpustat
gTTS
joblib
lightning
moviepy
opencv-python
pyannote.audio
pydub
pyttsx3
scenedetect[opencv]  # FROM: https://www.scenedetect.com/
scikit-learn
soundfile
torch
torchmetrics
torchsummary
torchvision
transformers
TTS
tqdm